<html>
    <head>
        <title>Password required to proceed</title>
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/chatroom_password.css">

    </head>
    <body>
        <%- include('nav', { activePage: 'rooms' }) %>

        <section id="main" >
            <form action="/executeRoomLogin" method="POST">
                <h1>Enter the password for room <%= room_title %> (<%= room_id %>)</h1>
                <input name="room_id" value="<%= room_id %>" hidden>
                <input name="room_title" value="<%= room_title %>" hidden>
                <input name="password" type="password" placeholder="Enter password here" autofocus>
                <%- include('captcha') %>
                <button type="submit">GO</button>
            </form>
        </section>

    </body>
</html>