<html>
    <head>
        <title>Place Order</title>
    </head>
    <body>
        <p style="color:red"><%= message %></p>
        <h1>Place an order for <%= product.name %></h1>
        <% if (product.image) { %>
            <img src="data:image/png;base64,<%= product.image %>" alt="Product Picture" class="product-pic">
        <% } else { %>
            <img src="https://www.incathlab.com/images/products/default_product.png" alt="Default Product Picture" class="product-pic">
        <% } %>  
        <h4><%= product.notes %></h4>

        <h4>PRICE: <%= product.price %></h4> 
        <h4>SYSTEM PRICE: <%= product.system_price %></h4>
        <h4>NOTES: <%= product.notes %></h4>
        <form action="/confirmOrder" method="GET">
            <input type="hidden" name="product_id" value="<%= product_id %>">
            <input type="number" name="amount" placeholder="Amount" required>
            <input type="text" name="shipping_address" placeholder="Shipping address" required>
            <br>
            <%- include('captcha') %>
            <br>
            <button type="submit">Go!</button>
        </form>
    </body>
</html>