<nav role="main">
    <a href="/" class="<%= activePage === 'main' ? 'active' : '' %>">main</a>
    <a href="/forum"class="<%= activePage === 'forum' ? 'active' : '' %>">forum</a>
    <a href="/directMessagesMain" class="<%= activePage === 'direct_messages' ? 'active' : '' %>">direct messages</a>
    <a href="/chat_main" class="<%= activePage === 'rooms' ? 'active' : '' %>">chat rooms</a>
    <a href="/account" class="<%= activePage === 'account' ? 'active' : '' %>">account</a>
    <a href="/generateKeypair" class="<%= activePage === 'generate_keypair' ? 'active' : '' %>">generate keypair</a>
    <a href="/vendorship" class="<%= activePage === 'vendorship' ? 'active' : '' %>">vendor menu</a>
    <a href="/marketplace" class="<%= activePage === 'marketplace' ? 'active' : '' %>">marketplace</a>
    <a href="/logout" class="<%= activePage === 'logout' ? 'active' : '' %>">log out</a>
</nav>