<nav role="main">
    <a href="/" class="<%= activePage === 'main' ? 'active' : '' %>">main</a>
    <a href="/forum"class="<%= activePage === 'forum' ? 'active' : '' %>">forum</a>
    <a href="/directMessagesMain" class="<%= activePage === 'direct_messages' ? 'active' : '' %>">direct messages</a>
    <a href="/chat_main" class="<%= activePage === 'rooms' ? 'active' : '' %>">chat rooms</a>
    <a href="/deleteRoom" class="<%= activePage === 'delete_room' ? 'active' : '' %>">delete room</a>
    <a href="/logout" class="<%= activePage === 'logout' ? 'active' : '' %>">log out</a>
</nav>