<html>
<head>
    <title>User Account</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/account.css">
</head>
<body>
    <%- include( 'nav', { activePage: "account"}) %>
    <section id="main">
        <div class="account-info">
            <h1><%= username %></h1>
            <% if (pfp) { %>
                <img src="data:image/png;base64,<%= pfp %>" alt="Profile Picture" class="profile-pic">
            <% } else { %>
                <img src="/images/image.png" alt="Default Profile Picture" class="profile-pic">
            <% } %>
            <hr>
            <br>
            <a href="/goToDirectMessages?user_id=<%= user_id %>">Direct Message this person</a>
            <p><strong>Aura:</strong> <%= aura %></p>
                <br>
            <p><strong>Created At:</strong> <%= created_at %></p>
            <br>

            <p><strong>Email:</strong> <%= email %></p>
            <br>

            <p><strong>Tags:</strong> <%= tags %></p>
            <br>

            <p><strong>Global Discovery:</strong> <%= global ? "Yes" : "No" %></p>
            <br>

            <p><strong>Admin:</strong> <%= admin ? "Yes" : "No" %></p>
            <br>
            <br>

            <p><strong>Public Key:</strong><br> <%= public_key %></p>
            <br>
            <p><strong>About:</strong> <br><%= about %></p>
        </div>
    </section>
</body>
</html>
